body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid1 {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 20px 15px 20px 15px;
}
#LayoutGrid1 > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid1 > .row > .col-1,
#LayoutGrid1 > .row > .col-2,
#LayoutGrid1 > .row > .col-3,
#LayoutGrid1 > .row > .col-4,
#LayoutGrid1 > .row > .col-5 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1,
#LayoutGrid1 > .row > .col-2,
#LayoutGrid1 > .row > .col-3,
#LayoutGrid1 > .row > .col-4,
#LayoutGrid1 > .row > .col-5 {
   float: left;
}
#LayoutGrid1 > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 8.33333333%;
}
#LayoutGrid1 > .row > .col-2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 16.66666667%;
}
#LayoutGrid1 > .row > .col-3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 50%;
}
#LayoutGrid1 > .row > .col-4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   width: 16.66666667%;
}
#LayoutGrid1 > .row > .col-5 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 8.33333333%;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid1 > .row > .col-1,
#LayoutGrid1 > .row > .col-2,
#LayoutGrid1 > .row > .col-3,
#LayoutGrid1 > .row > .col-4,
#LayoutGrid1 > .row > .col-5 {
   float: none;
   width: 100%  !important;
}
}
#wb_Image1 {
   margin: 0;
   vertical-align: top;
}
#Image1 {
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   display: block;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   max-width: 700px;
   padding: 0;
   vertical-align: top;
   width: 100%;
}
#nav-login {
   -webkit-appearance: none;
   background-color: transparent;
   background-image: none;
   border: 1px solid #7F63F4;
   border-radius: 8px;
   box-sizing: border-box;
   color: #7F63F4;
   cursor: pointer;
   font-family: Arial;
   font-size: 21px;
   font-style: normal;
   font-weight: normal;
   line-height: 46px;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
}
}
#nav-login:focus {
   outline: 0;
}
#nav-login:hover {
   background-color: #131022;
   border-color: rgba(255,255,255,0.00);
   color: #ECECFD;
   transition: background-color 200ms linear 0ms, border-color 200ms linear 0ms, color 200ms linear 0ms;
}
#wb_login-form {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 10px;
   box-shadow: 0px 0px 1px #464A53;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#login-form {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   max-width: 400px;
   padding: 60px 15px 60px 15px;
}
#login-form > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#login-form > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#login-form > .row > .col-1 {
   float: left;
}
#login-form > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 100%;
}
#login-form:before,
#login-form:after,
#login-form .row:before,
#login-form .row:after {
   content: " ";
   display: table;
}
#login-form:after,
#login-form .row:after {
   clear: both;
}
@media (max-width: 480px) {
#login-form > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#lbl-email {
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#lbl-email:focus {
   outline: 0;
}
#acc-email {
   background-color: transparent;
   background-image: none;
   border: 1px solid #6A707E;
   border-radius: 6px;
   box-sizing: border-box;
   box-sizing: border-box;
   color: #6A707E;
   font-family: Arial;
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   line-height: 30px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   width: 100%;
}
#acc-email:focus {
   border-color: #6A707E;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(106,112,126,0.60);
   outline: 0;
}
#wb_acc-email {
   margin: 0;
}
#acc-email.is-valid {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")  !important;
   background-position: center right calc(0.375em + 0.1875rem)  !important;
   background-repeat: no-repeat  !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)  !important;
   border-color: #28A745  !important;
   padding-right: calc(1.5em + 0.75rem)  !important;
}
#acc-email.is-invalid {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")  !important;
   background-position: center right calc(0.375em + 0.1875rem)  !important;
   background-repeat: no-repeat  !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)  !important;
   border-color: #DC3545  !important;
   padding-right: calc(1.5em + 0.75rem)  !important;
}
#acc-email.is-valid:focus {
   border-color: #28A745  !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25)  !important;
}
#acc-email.is-invalid:focus {
   border-color: #DC3545  !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25) !important;
}
#wb_acc-email .invalid-feedback {
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-size: 12px;
   font-weight: normal;
   margin-top: 0.25rem;
   width: 100%;
}
#acc-email.is-invalid ~ .invalid-feedback {
   display: block;
}
#lbl-password {
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#lbl-password:focus {
   outline: 0;
}
#acc-password {
   background-color: transparent;
   background-image: none;
   border: 1px solid #B4B7C9;
   border-radius: 8px;
   box-sizing: border-box;
   box-sizing: border-box;
   color: #131022;
   font-family: Arial;
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   line-height: 35px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   width: 100%;
}
#acc-password:focus {
   border-color: #B4B7C9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(180,183,201,0.60);
   outline: 0;
}
#wb_acc-password {
   margin: 0;
}
#acc-password.is-valid {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328A745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e")  !important;
   background-position: center right calc(0.375em + 0.1875rem)  !important;
   background-repeat: no-repeat  !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)  !important;
   border-color: #28A745  !important;
   padding-right: calc(1.5em + 0.75rem)  !important;
}
#acc-password.is-invalid {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23DC3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E")  !important;
   background-position: center right calc(0.375em + 0.1875rem)  !important;
   background-repeat: no-repeat  !important;
   background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)  !important;
   border-color: #DC3545  !important;
   padding-right: calc(1.5em + 0.75rem)  !important;
}
#acc-password.is-valid:focus {
   border-color: #28A745  !important;
   box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.25)  !important;
}
#acc-password.is-invalid:focus {
   border-color: #DC3545  !important;
   box-shadow: 0 0 0 4px rgba(220, 53, 69, 0.25) !important;
}
#wb_acc-password .invalid-feedback {
   color: #DC3545;
   display: none;
   font-family: Arial;
   font-size: 12px;
   font-weight: normal;
   margin-top: 0.25rem;
   width: 100%;
}
#acc-password.is-invalid ~ .invalid-feedback {
   display: block;
}
#wb_acc-pass-spgrid {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#acc-pass-spgrid {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 20px 15px 0 15px;
}
#acc-pass-spgrid > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#acc-pass-spgrid > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#acc-pass-spgrid > .row > .col-1 {
   float: left;
}
#acc-pass-spgrid > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 100%;
}
#acc-pass-spgrid:before,
#acc-pass-spgrid:after,
#acc-pass-spgrid .row:before,
#acc-pass-spgrid .row:after {
   content: " ";
   display: table;
}
#acc-pass-spgrid:after,
#acc-pass-spgrid .row:after {
   clear: both;
}
@media (max-width: 480px) {
#acc-pass-spgrid > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#HorizontalLine8 {
   border-bottom-width: 35px;
   border-color: #E9E9E9;
   border-color: rgba(233,233,233,0.00);
   border-left: 0;
   border-right: 0;
   border-style: solid;
   border-top: 0;
   height: 0  !important;
   line-height: 0  !important;
   margin: 0;
   padding: 0;
}
#btn-login {
   -webkit-appearance: none;
   background-color: #7F63F4;
   background-image: none;
   border: 0px solid #7F63F4;
   border-radius: 10px;
   color: #F3F6FF;
   cursor: pointer;
   font-family: Arial;
   font-size: 15px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
}
}
#btn-login:focus {
   outline: 0;
}
#wb_LayoutGrid4 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid4 {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid4 > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid4 > .row > .col-1,
#LayoutGrid4 > .row > .col-2,
#LayoutGrid4 > .row > .col-3 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1,
#LayoutGrid4 > .row > .col-2,
#LayoutGrid4 > .row > .col-3 {
   float: left;
}
#LayoutGrid4 > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 33.33333333%;
}
#LayoutGrid4 > .row > .col-2 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 33.33333333%;
}
#LayoutGrid4 > .row > .col-3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
   width: 33.33333333%;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid4 > .row > .col-1,
#LayoutGrid4 > .row > .col-2,
#LayoutGrid4 > .row > .col-3 {
   float: none;
   width: 100%  !important;
}
}
#wb_LayoutGrid3 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid3 {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0 15px 0 15px;
}
#LayoutGrid3 > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid3 > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1 {
   float: left;
}
#LayoutGrid3 > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   width: 100%;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid3 > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_Text1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0 0 40px 0;
   text-align: center;
}
#wb_Text1 {
   color: #000000;
   font-family: Arial;
   font-size: 32px;
   font-weight: 400;
   line-height: 36px;
}
#wb_Text1 p,
#wb_Text1 ul {
   margin: 0;
   padding: 0;
}
#wb_Text1 {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_footer {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#footer {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 80px 15px 40px 15px;
}
#footer > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#footer > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#footer > .row > .col-1 {
   float: left;
}
#footer > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   width: 100%;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after {
   content: " ";
   display: table;
}
#footer:after,
#footer .row:after {
   clear: both;
}
@media (max-width: 480px) {
#footer > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_copyright {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#wb_copyright {
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: 400;
   line-height: 16px;
}
#wb_copyright p,
#wb_copyright ul {
   margin: 0;
   padding: 0;
}
#wb_copyright {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
.cbox {
   align-items: center;
   color: #131022;
   cursor: pointer;
   display: flex;
   font-family: Arial;
   font-size: 16px;
   justify-content: flex-start;
   margin: 0px 0px 0px 0px;
}
.cbox > input {
   appearance: none;
   background-color: #FFFFFF;
   border: 1px solid #585C7B;
   border-radius: 0px;
   cursor: pointer;
   height: 20px;
   margin: 0 20px 0 0;
   outline: none;
   transition-duration: 0.3s;
   width: 20px;
}
.cbox > input:checked {
   background-color: #6366F1;
   border-color: #585C7B;
}
.cbox > input:checked:before {
   color: #FFFFFF;
   content: '\2713;
   display: block;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
}
#wb_acc-pass-shpass {
   display: inline-flex;
   vertical-align: top;
}
